[submodule "flynn"]
	path = flynn
	url = git@github.com:consolving/flynn.git
	branch = master
[submodule "flynn-tuf-repo"]
	path = flynn-tuf-repo
	url = git@github.com:consolving/flynn-tuf-repo.git
	branch = main
